backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Страницы"
    files:
      - label: "Главная страница"
        name: "home"
        file: "content/home.md"
        fields:
          - {label: "Заголовок", name: "title", widget: "string"}
          - {label: "Описание", name: "description", widget: "text"}
          - {label: "Изображение", name: "image", widget: "image"}
          - {label: "Контент", name: "body", widget: "markdown"}
